@charset "UTF-8";
/* CSS Document */
.videopc {
     position:fixed;
            right:0;
            bottom:0;
            width:auto;
            min-width:100%;
            height:auto;
            min-height:100%;
            z-index:-100;
	display: inline-block;
}

img{
	position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);
	margin: 0 auto;


}

.t {
	color:white;
	font-size: 100px ;
	padding: 5px 20px;
	line-height: 25px;
}

.waves {
	background: url(images/cover.png);
	background-clip: text;
-webkit-background-clip: text;
color: transparent;
animation: wave-animation 1s infinite linear, loading-animation 10s infinite linear alternate;
background-size: 200px 100px;
background-repeat: repeat-x;
opacity: 1;
}

@keyframes wave-animation {
	0% {
		background-position: 0 bottom;
	}
	100% {
		background-position: 200px bottom;
	}
}
@keyframes loading-animation {
	0% {
		background-position: 200px 0;
	}
	100% {
		background-position: 200px 200px;
	}
}


body{
	
	
          background-repeat:no-repeat;
         display: block;
		background-size: cover;
          height:100%;
          margin:0;
	width: 100%;
	background-position: center;
}

.container {
	width: 100vw;
	height: 100vh;
	margin: 0;
}

.centered {
	position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);
}





.logo p{
	color:white;
	font-size: 15px ;
	padding: 5px 20px;
	line-height: 25px;
}

.loading {
	color:white;
  text-transform: uppercase;
  font-family: 'Cabin Condensed', sans-serif;
  font-weight: bold;
  font-size: 80pt;
  text-align: center;
  height: 120px;
  line-height: 110px;
  vertical-align: bottom;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 0;
  display: block;
}
@keyframes loading-animation {
  0% {
    background-size: 200px 0px;
  }
  100% {
    background-size: 200px 200px;
  }
}
.wave {
  background-image: url("images/5hYlAGa.png");
  -moz-background-clip: text;
  -o-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: black;
  animation: wave-animation 1s infinite linear, loading-animation 10s infinite linear alternate;
  background-size: 200px 100px;
  background-repeat: repeat-x;
  opacity: 1;
}