@charset "UTF-8";
/* CSS Document */
.videopc {
     position:fixed;
            right:0;
            bottom:0;
            width:auto;
            min-width:100%;
            height:auto;
            min-height:100%;
            z-index:-100;
	display: inline-block;
}

img{
	position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);
	margin: 0 auto;


}


body{
	
	
          background-repeat:no-repeat;
         display: block;
		background-size: cover;
          height:100%;
          margin:0;
	width: 100%;
	background-position: center;
}

.container {
	width: 100vw;
	height: 100vh;
	margin: 0;
}

.centered {
	position: absolute; top:50%; left:50%; transform: translate(-50%, -50%);
}





.logo p{
	color:white;
	font-size: 15px ;
	padding: 5px 20px;
	line-height: 25px;
}


