@charset "UTF-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
}

body {
	margin: 20 0 0 0;
	font-family: "Noto Sans KR";
	background: #000;
	line-height: 1.6;
	height: 100vh;
	margin-left: 30px;
	text-decoration: none;
	color: #ffffff;
}
body p{
	color: #ffffff;
}

.container {
	width: 100%;
	height: 100%;


	/* CSS Smooth Scroll */
	
}

a {
	text-decoration: none;
	color:white;
}




.logo_text {
	font-size: 20px;
	line-height: 22px;
	color: white;
}

.navbar {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px 20px;
	color: white;
}



.navbar_logo {
	padding-left: 80px;
	padding-top: 40px;
	padding-bottom:0px;
	font-size: 30px;
	
}

.navbar_logo .logo_main {
	font-weight: 900;
	padding-top: 10px;
	padding-bottom:0px;
	font-size: 40px;
	
}


.navbar_menu{
	display: flex;
	list-style: none;
	padding-left: 0;
	margin-right: 400px;
}



.navbar_menu li{
	padding: 8px 100px;
}



.navbar_menu li a:hover{
	font-weight: 400;
	color: #009999;
}

.navbar_logo p{
	font-size: 12px;
	color:white;
}


.navbar_toggleBtn{
	position: absolute;
	right: 32px;
	font-size: 24px;
	display: none;
}

.about_text {
	padding-top: 100px;
	padding-left: 10px;
	font-size: 30px;
	width: 61%;
}

.text{
	font-size: 20px;
	line-height: 35px;
	padding-left: 630px;
	padding-right: 100px;
}
.credit_text{
	font-size: 17px;
	line-height: 32px;
	padding-left: 630px;
	padding-right: 100px;
}
.credit{
	position: block;
	font-size: 20px;
	line-height: 35px;
	padding-left: 630px;
	padding-right: 100px;
}
.explain1{
-moz-column-count: 4;
-moz-columns: 4;
-webkit-columns: 4;
columns: 4;


}
.credit_text_main_explain1{
	width: 600px;
}
section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 0px;
	width: 100%;
	height: 100vh;
}

section h1{
	font-size:  230px;
}
section div{
	text-align: left;
}

section h2 {
	font-size: 5rem;
	padding-left: 100px;
	position: absolute;

}

section p {
	font-size: 1.5rem;
}

@media screen and (max-width: 950px){
	
}

@media screen and (max-width: 768px){
	.navbar_logo {
		font-size: 1rem;
		padding-left: 20px;
	}
	.navbar_logo, .logo_text {
	font-size: 3rem;
}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 2px;
	}
	.navbar_menu {
		flex-direction: column;
		align-items: center;
		font-size: 0.5rem;
		width:100%;
	}
	.navbar_menu li{
		width: 100%;
		text-align: center;
		
	}
	.navbar_toggleBtn{
		display: block;
	}
	
	.navbar_menu.active{
		display: flex;
	}
}