@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: "Noto Sans KR";
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;900&display=swap");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.trigger {
   width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}
.trigger span {
  display: block;
  font-size: 1rem;
}
.pos {
    position: relative;
    left : 0;
    top : 0px;
}
.cover_a {
    z-index: 2;
}
.image_a {
    z-index: 1;
}


.item {
	display: block;
	position: relative;
}


.title_case{
	text-transform: none;
}


html {
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	font-family: "Noto Sans KR";
	background-color: rgba(0, 0, 0, 1);
	line-height: 1.6;
	height: 100vh;
	text-decoration: none;
	color: #fff;
	margin: 0;
	padding-top:180px;
	overflow-x: hidden;
	
}
body p{
	color: #ffffff;
}

.container {
	
	display: block;
	flex-direction: column;
	height: 100%;
	
	

	/* CSS Smooth Scroll */
	
}



a {
	text-decoration: none;
	color:white;
}
.about_title {
	width: auto;
	align-content: center;
}
.about_title_center {
    color: #00239C;
    display: block;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    letter-spacing: -0.5px;
    text-align: center !important;  
    margin-bottom: 40px; 
}


.logo_text {
	font-size: 20px;
	line-height: 22px;
	color: white;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	flex-basis: 50%;
	/* transform: translateY(-0.2rem); */
	padding-top: var(--margin);
	padding-bottom: .5rem;
	box-sizing: border-box;
	padding-left: 0px;

	flex-direction: row;
}

.desc {
	width: calc(100vw) auto;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	display: inline-flex;
}
.desc > img{
	margin-left: 10%;
	width: 360px;
	height: auto;
}
.desc > .text{
	margin-left: calc(3vw);
	margin-right: calc(3vw);
	width: auto;
	height: auto;
	font-size: 20px;
}

.about_d {

	margin-bottom: 40%;
	width: calc(100vw - 20px) !important;
}

.aligns > p{
	word-break: keep-all;
	text-align: justify;
}

.credit_text > h2 {
	font-size: calc(7vw);
}



.credit_text {
	display: grid;
	column-gap: 20px;
	row-gap: 20px;
}

.credit_items {
	align-self: start;
line-height: 2;

}


.credit_items:nth-child(2), .credit_items:nth-child(9), .credit_items:nth-child(11) {
	grid-column: 2 / span 4;
}
.credit_items:nth-child(2) {
	align-self: center;
}
.credit_items:nth-child(1), .credit_items:nth-child(3), .credit_items:nth-child(8), .credit_items:nth-child(10) {
	text-align: right;
}













/* GRID 적용하는 부분 */

@media screen and (max-width: 900px){

	.vain {
		height: 80%;
	}

	body {
		padding-top: 240px;
	}
	.navbar{
		flex-wrap: wrap;
		
	}
	
	.navbar_logo{
		position: relative;
		width: auto;
		flex-basis: 100%;
		margin-left: 20px !important;
	}
	.navbar_menu{
		width: auto;
		flex-basis: 100% !important;
		padding-top: 1rem;
		padding-left: 0;
	}
	.navbar_menu li{
		padding: 0px 50px !important;
	}

	.ko #primary_title{
		box-sizing: border-box;
		padding-left: 0.1rem;
	}
	.en #general_nav{
		margin-top: 0;
	}


	.about_a > h1{

			width : auto;
			font-size: calc(17vw);

	}
	


	.about_a {
		width: auto;
		justify-content: center; align-items: center;
		padding-top: 30% !important;
		padding-bottom: 30% !important;
	}
	.about_a > h1:nth-of-type(1){
		width: auto;
		padding-right: 20% !important;
	}
	.about_a > h1:nth-of-type(2){
		width: auto;
		padding-left: 20% !important;
	}

	

}

.navbar_logo {
	font-size: 200%;
	margin-left: 80px;
}

.navbar_logo  .logo_main {
	font-weight: 900;
	padding-top: 0px;
	font-size: 100%;
}
.logo_main {
	font-size: 24px;
	padding: 0;
}


.navbar_menu{
	display: flex;
	list-style: none;
	padding-left: 0;
	width: auto;
	flex-basis: 50%;
	box-sizing: border-box;
	padding-left: var(--margin);
	transition: var(--speed) background-color var(--ease);
	margin-top: -.2rem;
	/* padding-left: calc(var(--margin) + 0.1rem); */
	justify-content: center;
	
}



.navbar_menu li{
	padding: 0px 70px;
}



.navbar_menu li a:hover{
	font-weight: 400;
	color: #009999;
}

.navbar_logo p{
	font-size: 12px;
	color:white;
}






.explain1{
-moz-column-count: 4;
-moz-columns: 4;
-webkit-columns: 4;
columns: 4;


}
.credit_text_main_explain1{
	width: 600px;
}
section {
	display: block;
	flex-direction: column;
	justify-content: center;
	height: auto;
	width : auto;
}

.vain {
	height: 100%;
}
.vain2 {
	height: 150px;
}

.about_a {
	width: auto;
	padding-top: 10%;
	padding-bottom: 10%;
	font-size: 8rem;
	justify-content: center; align-items: center;
	
}
.about_a > h1 {
	margin: 0;
	line-height: 1.2;
	text-align: center;	
}

.about_a > h1:nth-of-type(1){
	padding-right: 40% !important;
}
.about_a > h1:nth-of-type(2){
	padding-left: 30% !important;
}

.about_b  > h2 {
	margin-top: 10%;
	font-size: calc(7vw);
	padding-left: calc(10vw - 10px);
}


@media (max-width:1240px){

.desc {
	display: flex;
	flex-direction: column;
	
}
.desc > img {
	width: calc(100vw - 100px);
	height: auto;
	margin-left: 0;
	margin-bottom: 10%;
	
}
.desc > .text {
	width: auto;
	height: auto;
	margin-bottom: 10%;
}
}

@media only screen and (min-width: 481px) and (max-width: 580px){
	body {
		min-width: calc(100vw) !important;
		max-width: calc(100vw) !important;
		width : auto;
	}
	.desc > .text {
		width: calc(100vw - 10px);
		font-size: calc(5vw - 10px);
		max-width: calc(100vw - 10px) !important;


	}
	.desc {
		width: calc(100vw);
		
	}
	.vain {
		height: 70%;
	}

}


@media (min-width: 580px) and (max-width: 767px){
body {
	min-width: calc(100vw) !important;
	width : auto;
}

.vain {
	height: 80%;
}
.about_b  > h2 {
	margin-top: 10%;
	font-size: 5rem;
	padding-left: 60px;
}
.desc > .text {
	max-width: calc(100vw) !important;
	width: auto;
	height: auto;
	margin-bottom: 10%;
	padding-left: 10%;
	padding-right: 10%;
}

.about_a > h1 {
	font-size: calc(17vw);
}
}



@media only screen and (min-width: 361px) and (max-width: 480px){
	body {
		width : auto;
		min-width: calc(100vw) !important;
		max-width: calc(100vw) !important;
	}
	.about_a > h1 {
		font-size: calc(15vw);
	}
	.about_b  > h2 {
		margin-top: 10%;
		font-size: calc(7vw);
		padding-left: calc(10vw - 10px);
	}
	.navbar{
		width: auto;
		min-width: calc(100vw) !important;

	}

	.navbar_logo {
		font-size: 120%;
	}


	.desc > .text {
		width: auto;
		position: relative;
		
		height: auto;
		padding : 10px;
		font-size: 0.8em;
		margin: 0;
	}

	.navbar_menu {
		width: auto !important;
		min-width: calc(100vw) !important;
		
	}
	.navbar_menu li{
		padding: 0px 30px !important;
	}
	.credit_items {
		font-size: calc(2vw);
	}
	.about_d {
		width: calc(100vw - 20px) !important;
	}
	
	.vain {
		height: 70%;
	}
	}





	@media only screen and (min-width: 0px) and (max-width: 360px){
		body {
			width: auto;
			min-width: calc(100vw) !important;
			max-width: calc(100vw) !important;
		}
		.navbar{
			min-width: calc(100vw) !important;
			width: calc(100vw) !important;
		}
		.navbar_menu{
			width: calc(100vw) !important;
			min-width: calc(100vw) !important;
	
		}

		.navbar_logo {
			font-size: 1em;
		}
		.navbar_logo .logo_text {
			font-size: 0.5em;
		}
		.navbar_menu > li {
			font-size: 0.9em;
			padding: 0px 30px !important;
		}
		.about_a > h1 {
			font-size: 0.4em;
		}

		.item {
			margin-bottom: 30%;
		}
		.desc > .text{
			height: auto;
			font-size: 0.8em;
			padding: 20px;
			margin: 0;
		}


		.credit_items {
			font-size: 0.5em;
		}
		.credit_text {
			
			column-gap: 10px;
		}

		.about_d {
			width: calc(100vw - 20px) !important;
		}
		.aligns {
			word-break: keep-all;
		}
		.vain {
			height: 40%;
		}
	}
