
body{
    background-color: black;
}
a {
    text-decoration: none;
    color : white;
}
.container{
    display: flex;

}
.logo{
    font-weight: 700;
    font-family: "Noto Sans KR" 
    color: white;
    font-size: 50px;
    padding-top: 0.2%;
    padding-left: 1.5%;
    width: 850%;
}
.back_button{
    position: absolute;
    font-weight: 700;
    font-family: "Noto Sans KR" 
    color: white;
    font-size: 50px;
    padding-top: 0.2%;
    padding-left: 0%;


}
section {
    display: flex;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.layout {
    background-color: red;
    padding-top:100px;
    flex: 6;
    overflow-y:  auto;
    overflow-x: hidden;
    margin-top: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.image {
    width: 100%;
    margin-right: 2%;
    float: left;
}

.image img {
    width: 100%;
    height: 100%;
    margin-bottom: 4%;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 4%;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 영상 비율 16:9 아닌 작품들 따로 지정해줌 */
/* 60번 */
.video_60 {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
    margin-bottom: 4%;
}

.video_60 iframe,
.video_60 object,
.video_60 embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* 65번 */
.video_65 {
    position: relative;
    padding-bottom: 70%;
    height: 0;
    overflow: hidden;
    margin-bottom: 4%;
}

.video_65 iframe,
.video_65 object,
.video_65 embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 67번 */
.video_67 {
    position: relative;
    padding-bottom: 69%;
    height: 0;
    overflow: hidden;
    margin-bottom: 4%;
}

.video_67 iframe,
.video_67 object,
.video_67 embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 맨 마지막 이미지 마진값 변경해줌 */
.image img:nth-last-child(1) {
    margin-bottom: 7%;
}

.explain {
    line-height: 190%;
    background-color: black;
    height: 45%;
    width:1920%;
    padding-top: -5%;
    padding-left: 15%;
    margin-top: 0%;
    top: -2%;


 
    /* 스크롤 내려도 설명 따라다니게 */
    position: fixed;
}

/* 작품카테고리 */
.category {
    color:#04999A;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    margin-bottom: 20px;
}

/* 작품제목 */
.title {
    color: white;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    margin-bottom: 3px;
}

/* 이름 */
.name {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    margin-bottom: 15px;
}

/* 작품설명 */
.script {
    color:white;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

/* X아이콘 위치 지정 */


