body{
    background-color: black;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color : white;
}
.container {
  display: flex;
  height: 100vh;
  background: lightblue;
}
.logo{
    font-weight: 700;
    font-family: "Noto Sans KR" 
    color: white;
    font-size: 50px;
    padding-top: 0.2%;
    padding-left: 40%;
    width: 850%;
}
.back_button{
    position: absolute;
    font-weight: 700;
    font-family: "Noto Sans KR" 
    color: white;
    font-size: 50px;
    padding-top: 0.2%;
    padding-left: 0%;


}
.explain {
  line-height: 33px;
padding-left: 10%;
}
.left {
  flex: 0.25;
  background-color: black;
}

.right {
  flex: 5;
  background-color: black;
  position: relative;
}
.category {
    color:#04999A;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    margin-bottom: 20px;
}

/* 작품제목 */
.title {
    color: white;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    margin-bottom: 3px;
}

/* 이름 */
.name {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    margin-bottom: 15px;
}

/* 작품설명 */
.script {
    color:white;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}
.chat-wrapper {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.chat-header {
  flex: 1;
  background-color: black;
}

.chat-body {
    overflow: none;
  flex: 6;
  background-color: black;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-footer {
  flex: 1;
  background-color:black;
}

ul, li {
  font-size: 28px;
}

.layout {
  overflow: scroll;
    flex: 6;
    overflow-y:  auto;
    overflow-x: hidden;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;

}


.image {
    width: 100%;
    margin-right: 2%;
    float: left;
}

.image img {
    width: 100%;
    height: 100%;
    margin-bottom: 4%;
}

