body{
  background-color: black;
  margin: 0;
  padding: 0;
  min-width: calc(100vw);
		max-width: calc(100vw);
		width: auto;
    
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color : white;
}
.container {
  width: auto;
  display: flex;
  height: 100vh;
}
.logo{
    font-weight: 700;
    font-family: "Noto Sans KR"; 
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 0.2%;
    width: auto;
}
.back_button{
    position: absolute;
    font-weight: 700;
    font-family: "Noto Sans KR"; 
    color: white;
    font-size: calc(5vw);
    padding-top: 55px;
    padding-left: 55px;


}
.explain {
  line-height: 33px;
}
.left {
  flex: 0.25;
  background-color: black;
}

.right {
  flex: 5;
  background-color: black;
  position: relative;
}
.category {
    color:#04999A;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    margin-bottom: 20px;
     padding-left: 7%;
    padding-right: 7%;
}

/* 작품제목 */
.title {
    color: white;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    margin-bottom: 3px;
     padding-left: 7%;
    padding-right: 7%;
}

/* 이름 */
.name {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    margin-bottom: 15px;
}

/* 작품설명 */
.script {
    color:white;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    white-space: pre-line;
    padding-left: 7%;
    padding-right: 7%;
}
.chat-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.chat-header {
  flex: 1;
}

.chat-body {
  
  flex: 6;
  
}
.chat-body ul{
  margin: 0;
  padding: 0;
}

.chat-footer {
  flex: 1;
  background-color:black;
}

ul, li {
  font-size: 28px;
}

.layout {
    flex: 6;
    
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;

}
.chat-body::-webkit-scrollbar {
  display: none;
}

.image {
    width: 100%;
    margin-right: 2%;
    float: left;
}

.image img {
    width: 100%;
    height: 100%;
    margin-bottom: 4%;
}

.glowing {
  position: fixed;
  width: 30px;
  height: 30px;
  top: 50px;
  right: 50px;
  z-index: 4;
  border-radius: 50%;
  
}

.white{
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 1),
  0 0 40px rgba(255, 255, 255, 1),
  0 0 60px rgba(255, 255, 255, 1),
  0 0 80px rgba(255, 255, 255, 1),
  0 0 0 8px rgba(255, 255, 255, .1);
}

.black {
  background: rgba(0, 0, 0, .7);
  box-shadow: 0 0 20px rgba(0, 0, 0, .1),
  0 0 40px rgba(0, 0, 0, .4),
  0 0 60px rgba(0, 0, 0, .4),
  0 0 80px rgba(0, 0, 0, .4),
  0 0 0 8px rgba(0, 0, 0, .1);
}


.video {
  text-align: center;
}