@charset "UTF-8";
/* CSS Document */

body {
	padding-top: 180px;
	background-color: #000;
	font-family: "Noto Sans KR";
}
a {
	text-decoration: none;
	color : white;
}

* {
	margin:0;
	padding:0;
}
.container {
	grid-auto-rows: minmax(200px, auto);
	padding: 20px;
	background-color: black;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	width: auto;
	height: auto;
	/* CSS Smooth Scroll */
}

#section-top {
	top: 0;
	z-index: 5;
	position: fixed;
	background-color: black;
	width: 100vw;
	margin-bottom: 10px;
}
#section-bottom {
	margin-top: 10px;
}

.logo{
	color: white;
	font-size: 50px;
	padding: 40px;
}

section {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.navbar_menu{
	width: auto;
	display: flex;
	list-style: none;
	padding: 0;
	flex-wrap: nowrap;
	margin: 0;
}


.navbar_menu li{
	padding: 8px 50px;
	font-size: 1.5em;
	text-align: center;
}


.navbar_menu li a:hover{
	color: #009999;
}



.item {
	position: relative;
	
    width: auto;

	background-color: black;
	z-index: 0;
}

/* 평상시에는 아래 작품명과 작가명이 안 보이도록 visibility를 hidden 시켜놓음 */
.name {
	visibility: hidden;
	justify-content: center;
	color: white;
	text-align: center;
	position: absolute;
	transform: translate(-50%, -50%);
	z-index: 4;
	top: 40%; 
	left: 50%; 
	width: auto;
  vertical-align: middle;
	margin: 0 auto;
}

.author {
	top: 60%; 
	left: 50%; 
	width: auto;
	transform: translate(-50%, -50%);
	visibility: hidden;
	color: white;
	text-align: center;
	position: absolute;
	z-index: 4;
}





/* 호버 애니메이션 관련하여 SVG 관리 */

.pos {
    position: absolute;
    left : 0;
    top : 0px;
}
.cover_a {
    z-index: 3;
}
.image_a {
    z-index: 2;
}

svg {

	width: 100%;
	height: 100%;
}

@media screen and (max-width: 779px){

	body {
		width: 100vw;
		padding-top: 250px;
	}

	.logo {
position: relative;
margin: 0px auto;
	}

	.navbar_menu {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.navbar_menu li {
		
		width: 25%;
		padding: 8px 20px;
		text-align: center;
	}


	.container {
		grid-auto-rows: minmax(100px, auto);
		padding: 20px;
		
		grid-template-columns: repeat(2, 1fr);
		
		/* CSS Smooth Scroll */
	}
	img {
		width: calc(45vw) - 20px !important;
		height: calc(45vw) - 20px !important;
	}

	
	@media screen and (max-width: 480px){
		.navbar_menu li {
			font-size: 1.2em;
		}
		.logo {
			font-size: 2.5em;
			padding-bottom: 20px;
			
		}
	}

}


@media screen and (max-width: 400px){
	body {
		width: 100vw;
		padding-top: 280px;
	}

.logo {
	font-size: 2.5em;
	padding-bottom: 20px;
	
}

.navbar_menu li {
	font-size: 1.2em;
}
}


.logo-scroll {
	padding: 15px;
	font-size: 1.2em;
}