@charset "UTF-8";
/* CSS Document */
body {
	background-color: #000;
	font-family: "Noto Sans KR";
}
a {
	text-decoration: none;
	color : white;
}
* {
	margin:0;
	padding:0;
}
.container {
	grid-auto-rows: minmax(200px, auto);
	padding: 20px;
	background-color: black;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	width: auto;
	height: auto;
	/* CSS Smooth Scroll */
}

.logo{
	color: white;
	font-size: 50px;
	padding: 50px;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.navbar_menu{
	display: flex;
	list-style: none;
	padding-left: 0;
}


.navbar_menu li{
	padding: 8px 50px;
}


.navbar_menu li a:hover{
	color: #009999;
}



.item {
	position: relative;
	float: left;
	height: 100%;
    width: 100%;

	background-color: rgb(0, 222, 223, 0.5);
	z-index: 0;
}

/* 평상시에는 아래 작품명과 작가명이 안 보이도록 visibility를 hidden 시켜놓음 */
.name {
	visibility: hidden;
	justify-content: center;
	color: white;
	text-align: center;
	align-items: center;
	position: absolute;
	z-index: 1;
}

.author {
	visibility: hidden;
	justify-content: center;
	color: white;
	text-align: center;
	align-items: center;
	position: absolute;
	z-index: 1;
}





/* 호버 애니메이션 관련하여 SVG 관리 */

.pos {
    position: absolute;
    left : 0;
    top : 0px;
}
.cover_a {
    z-index: 3;
}
.image_a {
    z-index: 2;
}

svg {

	width: 330px;
	height: 330px;
}